body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  scroll-behavior: smooth;
  overflow: hidden;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2.5rem;
  color: red;
}
.fire-icon {
  font-size: 2.5rem;
  color: red;
}
.lava-icon {
  font-size: 2.5rem;
  color: rgb(211, 155, 3);
}
.storm-icon {
  font-size: 2.5rem;
  color: rgb(0, 205, 212);
}
.snow-icon {
  font-size: 2.5rem;
  color: rgb(37, 143, 243);
}

.loader {
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh; 
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loader img {
  width: 400px;
}

.loader h1 {
  margin-top: -100px;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 400px;
  min-width: 200px;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 18px;
  color: white;
  text-align: start;
}
.location-info li {
  padding: 5px 0;
}
.location-info ul {
  list-style-type: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
}

.header {
   color: white;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 200;
   padding: 10px;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   background-color: firebrick;   
   z-index: 100;
}
.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.p {
  font-size: 25px;
  color: azure;
}

.modal {
  font-size: 20px;
}
.modal>.header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.modal>.content {
  width: 100%;
  padding: 15px 10px;
}
.modal>.content>.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height:250px;
}
.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

